.corespring-chart-demo-react {

  .prompt {
    color: black;
    height: 43px;
    line-height: 43px;
    vertical-align: middle;
  }

  .showCorrectToggle {
    text-align: center;
  }

  .sliderTable {
    td {
      vertical-align: middle;
    }
  }

  .correctness-legend {
    display: table;

    .legend-box {
      display: table-cell;
      width: 32px;
      height: 32px;

      &.correct {
        background: green;
      }

      &.incorrect {
        background: orange;
      }
    }

    .legend-entry {
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 30px;
    }
  }
  .disabled .legend {
    display: none;
  }

  .disabled .legend + svg
  {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
  }

}

